<!DOCTYPE html>
<html>
<head>
    <title>Lyrics Search</title>
</head>
<body>
    <h1>Lyrics Search</h1>
    <form method="POST">
        <label for="artist">Artist:</label>
        <input type="text" name="artist" id="artist" required><br><br>
        <label for="word">Word:</label>
        <input type="text" name="word" id="word" required><br><br>
        <input type="submit" value="Search" >
    </form>
    {% if lyrics %}
        <h2>Lyrics:</h2>
        <pre>{{ lyrics }}</pre>
    {% endif %}
</body>
</html>
